@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "Yeseva One";
    src: url('assets/fonts/YesevaOne.woff2') format("woff2"),
         url('assets/fonts/YesevaOne.woff') format("woff");
}

@font-face {
    font-family: "FuturaBookC";
    src: url('assets/fonts/FuturaBookC.woff2') format("woff2"),
         url('assets/fonts/FuturaBookC.woff') format("woff");
}

@font-face {
    font-family: "ProximaNova Regular";
    src: url('assets/fonts/ProximaNova-Regular.woff2') format("woff2"),
         url('assets/fonts/ProximaNova-Regular.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

/* default styles reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

/* default styles reset */

.container {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, 
    rgb(19,19,19) 0%, 
    rgb(19,19,19) 18.98%, 
    rgb(255,255,255) 18.98%, 
    rgb(255,255,255) 45.6%, 
    rgb(19,19,19) 45%, 
    rgb(19,19,19) 54.37%, 
    rgb(255,255,255) 50%, 
    rgb(255,255,255) 61.49%, 
    rgb(19,19,19) 59%, 
    rgb(19,19,19) 78.4%, 
    rgb(255,255,255) 76%,
    rgb(255,255,255) 90%, 
    rgb(19,19,19) 90%, 
    rgb(19,19,19) 100%);
}

.content {
    width: 1236px;
    margin: 0 auto;
}

header {
    background: #131313;
}

.nav > ul {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'FuturaDemiC';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.nav ul a {
    color: white;
}

.nav > ul > li:nth-of-type(1) > a {
    color: #E3B873;
}

.nav > ul > li:nth-of-type(8) {
    color: #E3B873;
    text-decoration-line: underline;
}

.nav > ul > li > a:active {
    color: #E3B873;
}

.nav input {
    width: 161px;
    height: 37px;
    font-family: 'FuturaDemiC';
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #E3B873;
    border-radius: 3px;
}

main > section:nth-of-type(1) > img:nth-of-type(1) {
    color: #E3B873;
    position: absolute;
    top: 30%;
    right: 102%;
}

main > section:nth-of-type(1) {
    height: 800px;
    width: 1358px;
    background: url(assets/img/photo1.svg) no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    padding: 0 0 140px 60px;
    position: relative;
}

main > section:nth-of-type(1) h2 {
    font-family: "Yeseva One";
    font-weight: normal;
    font-size: 2.3em;
    line-height: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

main > section:nth-of-type(1) > h2 > span {
    color: #E3B873;
}

main > section:nth-of-type(1) > p:nth-of-type(1) {
    font-family: 'FuturaBookC';
    font-size: 1.2em;
    line-height: 1.6em;
}

main > section:nth-of-type(1) > form {
    width: 440px;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

main > section:nth-of-type(1) > form > input:nth-of-type(1) {
    width: 207px;
    height: 51px;
    margin-top: 30px;
    background: #E3B873;
    color: #FFFFFF;
    border-radius: 4px;
}

main > section:nth-of-type(1) > form > input:nth-of-type(2) {
    width: 207px;
    height: 51px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0%);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.scroll_down {
    width: 247px;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 82%;
    right: 87%;
    background: #131313;
}

.scroll_down form {
    width: 170px;
    height: 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scroll_down form p {
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-size: 0.9em;
}

.completed_projects {
    height: 995px;
    background: #131313;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}

.completed_projects > ul {
    width: 680px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    font-family: "Yeseva One";
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0 0 405px;
}

.completed_projects > ul > li:nth-of-type(1) {
    text-decoration: underline;
    color: #E3B873;
}

.projects_with_photos {
    display: flex;
    margin-top: 40px;
    text-align: left;
}

.projects_with_photos > div:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 390px;
    justify-content: space-between;
}

.projects_with_photos > div:nth-of-type(1) > h2 {
    font-family: 'Yeseva One';
    color: #E3B873;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: normal;
}

.projects_with_photos > div:nth-of-type(1) > p {
    font-family: 'FuturaBookC';
    line-height: 1.5em;
}

.projects_with_photos > div:nth-of-type(1) > p > span {
    font-family: 'Yeseva One';
    color: #E3B873;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.8em;
}

.slider {
    overflow: hidden;
}

.projects_with_photos > div:nth-of-type(1) > p:nth-of-type(5) {
    width: 185px;
}

.projects_with_photos > div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
}

.completed_projects > img:nth-of-type(1) {
    width: 196px;
    height: 67px;
    margin: 20px auto;
}

.completed_projects > iframe {
    margin: 0 auto;
    position: absolute;
    top: 78%;
    left: 18%;
}

.types_of_repair {
    height: 1675px;
    background: white;
    display: flex;
    flex-direction: column;
}

.types_of_repair > img:nth-of-type(1) {
    padding-top: 130px;
}

.types_of_repair > p:nth-of-type(1) {
    width: 700px;
    height: 130px;
    display: flex;
    margin: 30px auto;
    font-family: 'FuturaBookC';
    text-align: center;
    line-height: 1.6em;
    font-size: 1.3em;
}

.types_of_repair > form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-wrap: wrap;
    width: 770px;
    height: 70px;
    margin: 100px auto 0;
    font-family: "FuturaBookC";    
}

.types_of_repair > form > input {
    font-family: "FuturaBookC";
}

.types_of_repair > form > input:nth-of-type(1) {
    width: 250px;
    height: 45px;
}

.types_of_repair > form > input:nth-of-type(2) {
    width: 231px;
    height: 45px;
}

.types_of_repair > form > input:nth-of-type(3) {
    width: 200px;
    height: 51px;
    color: white;
    background: #E3B873;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbox {
    height: 15px;
    width: 15px;
    color: #E3B873;
}

.types_of_repair > form > span {
    width: 150px;
}

.types_of_repair p:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    width: 280px;
    justify-content: space-around;
    align-items: center;
    font-family: 'FuturaBookC';
}

.types_of_repair > img:nth-of-type(1) {
    margin-top: 150px;
}

.types_of_repair > img:nth-of-type(2) {
    margin-top: 150px;
}

.costs {
    width: 1236px;
    height: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 31px auto 0;
}

.costs > figure {
    position: relative;
}

.costs figcaption {
    width: 330px;
    height: 286px;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 8%;
    bottom: 2%;
    padding: 20px 0 0 35px;
}

.costs > figure > figcaption > h3 {
    font-family: "Yeseva One";
    font-size: 1.3em;
    line-height: 1.7em;
    color: #363636;
}

.costs > figure > figcaption > ul {
    padding-left: 20px;
}

.costs > figure > figcaption > ul > li {
    font-family: "FuturaBookC";
    font-size: 1.1em;
    line-height: 1.7em;
    list-style: disc;
    color: #959595;
}

.costs p {
    position: absolute;
    left: 8%;
    top: 92%;
    font-family: "Yeseva One";
    color: #FFFFFF;
    text-transform: uppercase;
    width: 228px;
    height: 54px;
    background: #E3B873;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.building {
    height: 960px;
    position: relative;
}

.building_bg {
    width: 1006px;
    height: 645px;
    background: url(assets/img/building.svg) no-repeat;
}

.ellipse {  
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: 
       linear-gradient(#fff,#fff) padding-box,
       linear-gradient(to right, #fff 0%, #fff 20%, #fff 20%, #E3B873 100%) border-box;
    border: 3px solid transparent;
    position: absolute;
    z-index: 2;
    top: 8%;
    right: 70%;
    opacity: 0.4;
}

.building > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    width: 509px;
    height: 506px;
    background: #131313;
    position: absolute;
    top: 13%;
    left: 58.9%;
    color: white;
}

.building h3 {
    width: 297px;
    height: 47px;
    text-align: center;
    margin: 20px auto 0;
    font-family: 'FuturaDemiC';
    font-size: 1.3em;
    line-height: 1.3em;
    color: #FFFFFF;
}

.building > div > form {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    height: 370px;
}

.building > div > form > p {
    font-family: 'FuturaBookC';
    font-size: 1em;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 7%;
}

.building > div > form > p:nth-of-type(4) {
    color: #FFFFFF;
    line-height: 10px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.building > div > form > input {
    color: #FFFFFF;
    border-bottom: 1px solid #959595;
    width: 408px;
    height: 40px;
    background: #131313;
}

.building > div > form > input:nth-of-type(4) {
    width: 213px;;
    height: 50px;
    background: #E3B873;
    margin: 8% 0 0 50%;
    border-bottom: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    text-transform: uppercase;
}

.building > div > figure {
    margin: 80px auto 0;
    width: 441px;
    height: 72px;
    display: flex;
}

.building > div > figure > img {
    padding: 15px;
    border-radius: 50%;
    background: #E3B873;
}

.building > div > figure > figcaption {
    font-family: 'FuturaDemiC';
    font-size: 20px;
    line-height: 25px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.wildest_fantasies {
    height: 864px;
    width: 1440px;
    position: relative;
}

.wildest_fantasies p {
    width: 411px;
    height: 66px;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 8%;
    font-family: 'Yeseva One';
    font-size: 2em;
    line-height: 1.6em;
    text-transform: uppercase;
    color: #E3B873;
}

.wildest_fantasies > ul {
    position: absolute;
    z-index: 1;
    font-family: "ProximaNova Regular";
    font-size: 1.2em;
    line-height: 2.6em;
    color: #FFFFFF;
    top: 24%;
    left: 8%;
}

.wildest_fantasies > img {
    position: absolute;
}

.wildest_fantasies > img:nth-of-type(1) {
    top: 0%;
    right: 5.8%;
}

.wildest_fantasies > img:nth-of-type(2) {
    top: 0%;
    right: 5.8%;
}

.wildest_fantasies > img:nth-of-type(3) {
    bottom: 40%;
    right: 41%;
}

.wildest_fantasies > img:nth-of-type(4) {
    top: 65%;
    right: 41%;
}

.wildest_fantasies > img:nth-of-type(5) {
    bottom: 82%;
    right: 14%;
}

.wildest_fantasies > img:nth-of-type(6) {
    top: 23%;
    right: 14%;
}

.design_project {
    height: 1050px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.design_project > p:nth-of-type(1) {
    margin: 30px auto 0;
    font-family: 'FuturaBookC';
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: center;
    color: #363636;
}

.projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.projects > figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    width: 392px;
    margin-top: 100px;
    position: relative;
}

.projects > figure > figcaption {
    background: #FFFFFF;
    width: 330px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: absolute;
    top: 72%;
    left: 8%;
}

.projects > figure:nth-of-type(1) > figcaption {
    height: 210px;
}

.projects > figure:nth-of-type(2) > figcaption {
    height: 286px;
}

.projects > figure:nth-of-type(3) > figcaption {
    height: 414px;
}

.projects p {
    font-family: 'Yeseva One';
    font-size: 1.2em;
    line-height: 1.3em;
    color: #363636;
    padding: 25px 0 0 34px;
}

.projects ul {
    padding-left: 6%;
    padding: 2% 0 0 16%;
}

.projects ul > li {
    font-family: 'FuturaBookC';
    font-size: 1em;
    line-height: 1.5em;
    color: #959595;
    list-style: disc;
}

.projects span {
    width: 228px;
    height: 54px;
    background: #E3B873;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
    font-family: 'Yeseva One';
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 8%;
    margin: 5% 20% 0 0;
}

.projects > figure:nth-of-type(1) > figcaption > span {
    margin-top: 9%;
}

.projects > figure:nth-of-type(2) > figcaption > span {
    margin-top: 11%;
}

.projects > figure:nth-of-type(3) > figcaption > span {
    margin-top: 13%;
}

.six_steps {
    height: 900px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.six_steps > div:nth-of-type(1) {
    width: 337px;
    height: 515px;
}

.six_steps > div:nth-of-type(1) > p:nth-of-type(1) {
    font-family: 'FuturaDemiC';
    font-size: 1em;
    line-height: 2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.six_steps > div:nth-of-type(1) > h2 {
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #E3B873;
}

.six_steps > div:nth-of-type(1) > p:nth-of-type(2) {
    font-family: 'Yeseva One';
    font-size: 1.2em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20%;
}

.six_steps > div:nth-of-type(1) > h4 {
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 4%;
}

.six_steps > div:nth-of-type(1) > p:nth-of-type(3) {
    font-family: 'FuturaBookC';
    font-size: 1.3em;
    line-height: 1.6em;
    color: #FFFFFF;
    margin-top: 5%;
}

.six_steps > div:nth-of-type(2) {
    width: 765px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 4%;
}

.six_steps > div:nth-of-type(2) > h4 {
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 7%;
    text-decoration: underline;
}

.six_steps > div:nth-of-type(2) > p {
    font-family: 'FuturaBookC';
    font-size: 1.2em;
    line-height: 1.6em;
    color: #FFFFFF;
}

.six_steps > div:nth-of-type(2) > img {
    position: absolute;
    width: 765px;
    height: 380px;
    top: 100%;
    right: 0%;
}

.our_team_and_clients {
    height: 1700px;
    display: flex;
    flex-direction: column;
}

.our_team_and_clients > h2 {
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our_team_and_clients > img {
    margin: 2%;
}

.our_team_and_clients > p {
    margin: 0 auto;
    font-family: 'FuturaBookC';
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
    color: #FFFFFF;
}

.our_team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8%;
}

.our_team > figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 272px;
    position: relative;
}

.our_team > figure > img:nth-of-type(2) {
    padding: 4%;
    background: #E3B873;
    position: absolute;
    bottom: 92%;
    right: 87%;
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}

.our_team > figure > figcaption {
    text-align: center;
    width: 233px;
    height: 137px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 80%;
    left: 7.5%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.our_team > figure > figcaption > h3 {
    font-family: 'Yeseva One';
    font-size: 1em;
    line-height: 1.3em;
    color: #181818;
    padding-top: 8%;
}

.our_team > figure > figcaption > p:nth-of-type(1) {
    font-family: 'FuturaBookC';
    font-size: 1.1em;
    line-height: 3em;
    color: #959595;
}

.our_team > figure > figcaption > p:nth-of-type(2) {
    font-family: 'Yeseva One';
    font-size: 0.9em;
    line-height: 3em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
}

.our_team > p {
    margin: 12% auto 0;
    font-family: 'FuturaBookC';
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: center;
    color: #363636;
}

.our_clients {
    height: 500px;
    margin-top: 10%;
}

.our_clients > h3 {
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.our_clients > img {
    margin: 1.2% auto;
    display: block;
}

.our_clients > p {
    margin: 0 auto;
    font-family: 'FuturaBookC';
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    color: #363636;
}

.clients {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.clients > div {
    display: flex;
    flex-wrap: wrap;
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients > div > h4 {
    width: 190px;
    height: 76px;
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #181818;
    display: flex;
    align-items: center;
    padding: 7% 0 0 3%;
}

.clients > div > p:nth-of-type(1) {
    font-family: 'FuturaBookC';
    font-size: 1em;
    line-height: 1.5em;
    color: #959595;
    width: 324px;
    padding: 5% 0 0 6%;
}

.clients > div > img {
    border-radius: 50%;
    width: 76px;
    height: 76px;
    margin: 4% 0 0 6%;
}

.clients > div > p:nth-of-type(2) {
    font-family: 'Yeseva One';
    font-size: 1.2em;
    line-height: 1.2em;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 294px;
    height: 54px;
    margin-top: 13%;
}

.clients > div > p > span {
    height: 54px;
    border-left: 1px solid #FFFFFF;
    width: 2px;
}

.questions_map {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    width: 883px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions > h4 {
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}

.questions > form {
    width: 520px;
    height: 376px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.questions > form > label {
    font-family: 'FuturaBookC';
    font-size: 1em;
    line-height: 1.2em;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    border-bottom: #363636 solid 1px;
    margin-top: 10%;
}

.questions > form > label:nth-of-type(1) {
    width: 231px;
    height: 45px;
}

.questions > form > label:nth-of-type(2) {
    width: 231px;
    height: 45px;
}

.questions > form > label:nth-of-type(3) {
    width: 516px;
    height: 45px;
}

.questions > form > label:nth-of-type(4) {
    width: 516px;
    height: 18px;
    margin: 0 auto;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.questions > form > label:nth-of-type(4) > input {
    margin-right: 2%;
}

.questions > form > label:nth-of-type(5) {
    border-bottom: none;
    margin: 0 auto;
}

.questions > form > label:nth-of-type(5) > input {
    width: 200px;
    height: 51px;
    background: #E3B873;
}

.questions > form > label > input {
    font-family: 'FuturaBookC';
    font-size: 1.2em;
    line-height: 1.4em;
    color: #FFFFFF;
    background: #131313;
}

.questions_map > p {
    font-family: 'Yeseva One';
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 auto;
}


