@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('assets/fonts/FuturaDemiC.woff2') format("woff2"),
         url('assets/fonts/FuturaDemiC.woff') format("woff");
}

/* default styles reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* default styles reset */

.container {
    width: 1440px;
    margin: 0 auto;
    background: red;
}

.content {
    width: 1240px;
    margin: 0 auto;
}

.background:nth-of-type(1) {
    background: #131313;
}

header {
    height: 83px;
    background: #131313;
}

.nav div {
    height: 37px;
}

.nav > ul {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    color: white;
    font-family: 'FuturaDemiC';
}

.background:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    background:  #131313;
    position: relative;
}

.background:nth-of-type(2) > img:nth-of-type(1) {
    color: #E3B873;
    position: absolute;
    top: 30%;
    left: 2%;
}

main > section:nth-of-type(1) {
    height: 755px;
    background: url(assets/img/photo1.svg) no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    padding-left: 90px;
}

main > section > input:nth-of-type(1) {
    width: 207px;
    height: 51px;
    margin-top: 30px;
}

main > section > input:nth-of-type(2) {
    width: 207px;
    height: 51px;
    margin-top: 30px;
}

.completed_projects {
    height: 1241px;
    background: #131313;
    display: flex;
    flex-direction: column;
    color: white;
}

.completed_projects ul {
    width: 623px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
    font-size: 18px;
    margin-left: 550px;
}

.background:nth-of-type(3) {
    background:  #131313;
}

.completed_projects div:nth-of-type(1) {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.completed_projects > div div:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 390px;
    text-align: left;
    justify-content: space-between;
}

.completed_projects > div div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 70px;
}

.completed_projects > img {
    width: 196px;
    height: 67px;
    margin: 200px auto;
}

.background:nth-of-type(4) {
    background: white;
}

.types_of_repair {
    height: 1675px;
    background: white;
    display: flex;
    flex-direction: column;
}

.types_of_repair p:nth-child(1) {
    width: 631px;
    height: 130px;
    display: flex;
    margin: 300px 400px 0;
}

.types_of_repair form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-wrap: wrap;
    width: 770px;
    height: 70px;
    margin: 100px auto 0;
}

.types_of_repair > form > input:nth-of-type(1) {
    width: 320px;
    height: 45px;
}

.types_of_repair > form > input:nth-of-type(2) {
    width: 231px;
    height: 45px;
}

.types_of_repair > form > input:nth-of-type(3) {
    width: 200px;
    height: 51px;
    margin-top: 15px;
}

.types_of_repair > form > span {
    width: 150px;
}

.types_of_repair p:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    margin: 15px auto;
}

.types_of_repair > img:nth-of-type(1) {
    margin-top: 150px;
}

.costs {
    width: 1236px;
    height: 608px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 31px auto 0;
}

.costs > figure {
    position: relative;
}

.costs figcaption {
    width: 330px;
    height: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    position: absolute;
    left: 8%;
    bottom: 2%;
}

.costs p {
    position: absolute;
    left: 8%;
    top: 92%;
    color: green;
    width: 228px;
    height: 54px;
    background: #E3B873;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.background:nth-of-type(5) {
    background: white;
}

.building {
    height: 960px;
    background: gray;
    position: relative;
}

.building img {
    position: absolute;
    right: 48.6%;
}

.building > div {
    display: flex;
    flex-direction: column;
    width: 509px;
    height: 506px;
    background: #131313;
    position: absolute;
    top: 13%;
    left: 58%;
    color: white;
}

.building h3 {
    width: 297px;
    height: 47px;
    text-align: center;
    margin: 20px auto 0;
}

.building > div > form {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
}

.building > div > form > input:nth-of-type(1) {
    width: 408px;
    height: 50px;
    background: #131313;
}

.building > div > form > input:nth-of-type(2) {
    width: 408px;
    height: 50px;
    background: #131313;
}

.building > div > form > input:nth-of-type(3) {
    width: 408px;
    height: 50px;
    background: #131313;
}

.building > div > form > input:nth-of-type(4) {
    width: 213px;;
    height: 50px;
    background: #E3B873;
}

.background:nth-of-type(6) {
    background: white;
}

.wildest_fantasies {
    height: 1018px;
    background: url(assets/img/sec5bg.svg) no-repeat;
    position: relative;
}

.wildest_fantasies p {
    width: 411px;
    height: 66px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    color: #E3B873;
    top: 10%;
    left: 8%;
}

.wildest_fantasies > ul {
    position: absolute;
    z-index: 1;
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    top: 20%;
    left: 8%;
}

.wildest_fantasies > img {
    position: absolute;
}

.wildest_fantasies > img:nth-of-type(1) {
    top: 0%;
    right: 0%;
}

.wildest_fantasies > img:nth-of-type(2) {
    bottom: 50%;
    right: 30%;
}

.wildest_fantasies > img:nth-of-type(3) {
    top: 55%;
    right: 30%;
}

.wildest_fantasies > img:nth-of-type(4) {
    bottom: 85%;
    right: 2%;
}

.wildest_fantasies > img:nth-of-type(5) {
    top: 20%;
    right: 2%;
}

.background:nth-of-type(7) {
    background: white;
}

.design_project {
    height: 450px;
    display: flex;
    flex-direction: column;
}

.design_project p {
    margin: 30px auto 0;
}

.projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.design_project figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    width: 392px;
    margin-top: 100px;
}

.background:nth-of-type(8) {
    background: #131313;
}

.six_steps {
    height: 1655px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 500px;
}

.six_steps > div:nth-of-type(1) {
    width: 337px;
}

.six_steps > div:nth-of-type(2) {
    width: 760px;
    height: 420px;
}

.background:nth-of-type(9) {
    background: #FFFFFF;
}

.our_team_and_clients {
    height: 1400px;
    display: flex;
    flex-direction: column;
}

.our_team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}

.our_team > figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 272px;
}

.our_clients {
    height: 500px;
    margin-top: 10%;
}

.clients {
    width: 1236px;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.questions_map {
    height: 1170px;
    background: #131313;
}